div.sectors_navigation {
  position: fixed;
  z-index: 2;
  border-bottom: 1px solid #fff;
  @include transition(height 1s);
  overflow: auto;
  top: 0;
  background-color: rgba(255, 255, 255, 1);
  border-bottom-color: #ddd;

  &.hidden {
    height: 0;
  }

  width: 100vw;
  height: $navigation-height;

  .navigation_inner {
    @include outer-container();
    padding: 1rem 0;
    height: 100%;
    min-width: 880px;
  }

  .sectors_navigation_image {
    @include span-columns(2);

    height: 100%;
    background-size: cover;
  }

  #sn_restaurants {
    background-image: url(/images/sectors/thumbnails/restaurant.jpg);
  }
  #sn_hotels {
    background-image: url(/images/sectors/thumbnails/hotel.jpg);
  }
  #sn_spa {
    background-image: url(/images/sectors/thumbnails/spa.jpg);
  }
  #sn_private_islands {
    background-image: url(/images/sectors/thumbnails/private_island.jpg);
  }
  #sn_golf {
    background-image: url(/images/sectors/thumbnails/golf.jpg);
  }
  #sn_villas {
    background-image: url(/images/sectors/thumbnails/villa.jpg);
  }

  @include media($mobile) {

  }

}