.clients_container {
  @include outer-container();

  a {
    display: block;
    border: 1px solid lighten($brand-primary, 45%);

    @include media($larger-than-mobile) {
      @include span-columns(6);
      @include omega(2n);
    }

    @include media($smaller-mobile) {
      @include fill-parent;
      @include omega();
    }

    height: 200px;
    line-height: 200px;
    text-align: center;
    margin-bottom: 30px;
    position: relative;

    .client_hero, .client_logo {
      width: 30%;
      display: inline-block;
      vertical-align: middle;
    }

    .client_hero {
      float: left;
      width: 55%;
      max-height: 100%;
      display: inline-block;
      vertical-align: middle;
    }

    .client_logo {
      max-height: 92%;
      margin: 2%;
    }

  }

  margin-bottom: 5rem;
}