.hero_splash {
  width: calc(100vw - (#{$navigation-height} * 2));
  height: calc(100vh - (#{$navigation-height} * 2));
  margin: $navigation-height auto;

  background-image: url(/images/residence_on_the_rocks/pool_deck.jpg);
  background-size: cover;
  background-position: 50% 50%;

  &:after {
    //content: '';
    display: block;
    background-image: url(/images/the_singular/rooftop_bar.jpg);
    z-index: 10;
    width: calc(100vw - (#{$navigation-height} * 2));
    height: 100vh;
    background-size: cover;
    background-position: 50% 50%;
    opacity: 0.5;
  }

}