.hero_splash {
  width: 100vw;
  height: 100vh;

  .hero_segment {
    width: 50%;
    height: 50%;
    background-size: cover;
    float: left;
    background-position: 50% 50%;
  }
  .top_left {
    background-image: url(/images/residence_on_the_rocks/pool_deck.jpg);
  }
  .top_right {
    background-image: url(/images/restaurant/group_tables.jpg);
  }
  .bottom_left {
    background-image: url(/images/the_singular/rooftop_bar.jpg);
  }
  .bottom_right {
    background-image: url(/images/crown_and_garter/room_1_straight.jpg);
  }
}

.home_main_text {
  position: relative;
  @include outer-container($max-width * 0.85);
  font-size: 1.2rem;

  $header-text-width: 5;

  .header_text {

    @include span-columns($header-text-width);
    @include pad(0 30px);

    position: absolute;
    top: 50%;
    @include transform(translateY(-50%));

    h3 {
      font-weight: normal;
      font-size: 1.4rem;
    }
  }

  .blurb_text {
    margin: 2rem 0;
    text-align: justify;
    @include shift($header-text-width);
    @include span-columns($grid-columns - $header-text-width);
    @include omega();
    @include pad(0 20px);
  }
}

.testimonial_separator {
  background-color: $brand-primary;
  text-align: center;
  @include pad(20px 0);

  font-size: 1.5em;

  .testimonial_blurb {
    color: white;

    h2, h3 {
      margin: 0.5rem;
    }
  }
}

.testimonials {
  .testimonial_inner {
    @include outer-container();
    @include pad(30px 0);
    position: relative;

    .testimonial_logo {
      @include shift(7);
      @include span-columns(5);
      position: absolute;
      top: 50%;
      @include transform(translateY(-50%));
      text-align: center;
    }

    .testimonial_quote {
      @include span-columns(7);

      blockquote {
        font-size: 1.3rem;
      }
    }
  }

  .testimonial:nth-child(odd) {
    text-align: right;

    .testimonial_logo {
      @include shift(0);
    }
    .testimonial_quote {
      @include shift(5);
    }
  }

  .testimonial.evian_resort {
    cite {
      color: lighten(desaturate($brand-secondary, 40%), 30%);
    }
  }

  .testimonial.crown_and_garter {
    background-color: #95d4cb;
    color: #181d21;
    cite {
      color: lighten(desaturate(#181d21, 20%), 30%);
    }
  }

  .testimonial.desroches_island {
    cite {
      color: lighten(desaturate($brand-secondary, 40%), 30%);
    }

    img {
      display: block;
      width: 100%;
    }
  }
}