.our-team-main {
  @include outer-container();
  @include pad(0 20px);
  position: relative;
  font-size: 1.2em;
}

.team_box, .partner_box {
  clear: both;
  margin-bottom: 3rem;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  h2 {
    margin-bottom: 0.5rem;
  }

  h3 {
    margin-top: 0;
    font-weight: bold;
  }

  .team_image {
    display: block;
    float: left;
    width: 275px;
    margin: 0 20px 10px 0;
  }

  .partner_image {
    float: right;
    max-width: 400px;
    max-height: 100px;
  }

  &.team_box:nth-of-type(2n) {
    text-align: right;

    .team_image {
      margin: 0 0 10px 20px;
      float: right;
    }
  }

  .team_bio {
    @include span-columns(10);
    @include shift(1);
    float: none;
  }

  @include media($mobile) {
    .team_bio {
      @include fill-parent();
      @include shift(0);
    }
  }

  @include media($small-mobile) {
    .team_image {
      margin: auto;
      float: none;
    }

    .team_bio {
      clear: both;
    }

    &:nth-of-type(2n) {
      text-align: left;

      .team_image {
        margin:  auto;
        float: none;
      }
    }
  }

  @include media($smaller-mobile) {
    .team_image {
      margin: auto;
    }
  }
}
