.client_testimonials {
  @include outer-container();

  .client_testimonial_logo {
    @include span-columns(4);

    line-height: 200px;
    img {
      vertical-align: middle;
      width: 100%;
    }

    &:nth-child(3) {
      @include omega();
    }
  }

  .client_testimonial_text {
    @include shift(1);
    @include span-columns(10);
    clear: both;
    text-align: justify;

    blockquote {
      margin: 1rem;
    }
  }
}

.media_testimonial {

  overflow: hidden;
  width: 100%;

  .testimonial_inner {
    clear: both;
    @include outer-container();
    @include pad(2.5rem 0);
    font-size: 1.3em;
    position: relative;

    &:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0;
    }

    blockquote {
      @include span-columns(9);
      @include pad(0 1.5rem);
      margin: 0;
    }

    img {
      display: block;
      @include span-columns(3);
      position: absolute;
      top: 50%;
      @include transform(translateY(-50%));
    }
  }

  &:nth-child(odd) {
    text-align: right;
    blockquote {
      @include shift(3);
      @include omega();
    }
  }

  &:nth-child(even) {
    img {
      @include omega();
      right: 0;
    }
  }

  &:first-child {
    .testimonial_inner {
      padding-top: 0;
    }
  }

  &.media_gq {
    background-color: #191d22;
    color: white;
  }

  &.media_good_housekeeping {
    background-color: #00aac9;
    color: white;
  }

  &.media_nina {
    background-color: #d8c8b3;
    color: white;
  }

  &.media_tamzin {
    background-color: #eff2f7;
  }

}
