.hotel_section {

  @include outer-container();

  @include media($max-width + 20) {
    @include pad(rem(20));
  }

  .hotel_introduction {

    @include fill-parent();

    font-size: 1.1rem;

    color: white;
    background-color: $brand-primary;
    padding: 1rem 2rem;

    h2 {
      text-align: center;
      margin: 1rem 0 2rem;
    }
    p {
      text-align: justify;
    }
  }

  .hotel_instructions {
    font-size: 1.3em;
    text-align: center;
    margin: 1.5em 0 0;
  }

  .hotel_box {
    @include span-columns(4);
    @include omega(3n + 1);

    @include media($mobile) {
      @include fill-parent();

      p {
        font-size: 1.1em;
      }
    }

    margin-top: 2rem;

    h3 {
      @include linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
      font-size: 0.8em;
      margin: 0;
      padding: 0 0.5em;

      @include media($soft-shrink) {
        font-size: 0.6em;
      }
      @include media($mobile) {
        font-size: 1em;
      }
      @include media($smaller-mobile) {
        font-size: 0.7em;
      }
    }

    .hotel_box_header {
      color: white;
      font-size: 2rem;
      padding-top: 35%;
      background-size: cover;
      background-position: 50% 50%;

      @include media($mobile) {
        padding-top: 25%;
      }

    }
    &.restaurants_and_venues .hotel_box_header {
      background-image: url(/images/sectors/restaurant.jpg);
    }
    &.hotels_and_safari .hotel_box_header {
      background-image: url(/images/sectors/hotel.jpg);
    }
    &.spa .hotel_box_header {
      background-image: url(/images/sectors/spa.jpg);
    }
    &.private_islands .hotel_box_header {
      background-image: url(/images/sectors/private_island.jpg);
    }
    &.golf .hotel_box_header {
      background-image: url(/images/sectors/golf.jpg);
    }
    &.villas_real_estate .hotel_box_header {
      background-image: url(/images/sectors/villa.jpg);
    }
  }

  margin-bottom: 2rem;
}