@import url(https://fonts.googleapis.com/css?family=Khula:300);
@import url(https://fonts.googleapis.com/css?family=Raleway:200);
/* IMPORT FONTS */
/* IMPORT BOURBON */
/* NEAT VARIABLES */
/* IMPORT NEAT */
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* IMPORT STORRINGTON STYLESHEETS */
html, body {
  margin: 0;
  font-family: Khula;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #522576; }

h1, h2 {
  font-family: crete-round;
  font-weight: lighter; }

h2 {
  font-size: 2.5rem; }

h3 {
  font-weight: lighter; }

nav {
  position: fixed;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-backdrop-filter: blur(5px);
  border-bottom: 1px solid #ddd;
  width: 100vw;
  padding: 1rem; }
  nav .navigation_inner {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    height: 70px; }
    nav .navigation_inner::after {
      clear: both;
      content: "";
      display: table; }
  nav .storrington_logo {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 31.7615656014%; }
    nav .storrington_logo:last-child {
      margin-right: 0; }
    nav .storrington_logo img {
      width: 100%;
      position: relative;
      top: 5px; }
  nav .navigation_links {
    margin-left: 8.5298042998%;
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 57.3509785009%;
    margin-right: 0;
    font-size: 1.4rem;
    text-align: right;
    text-transform: uppercase; }
    nav .navigation_links:last-child {
      margin-right: 0; }
    nav .navigation_links li {
      line-height: 100%;
      display: inline-block;
      list-style: none;
      margin: 0 0.6rem; }

.hero_splash {
  width: 100vw;
  height: 100vh; }
  .hero_splash .hero_segment {
    width: 50%;
    height: 50%;
    background-size: cover;
    float: left;
    background-position: 50% 50%; }
  .hero_splash .top_left {
    background-image: url(/images/residence_on_the_rocks/pool_deck.jpg); }
  .hero_splash .top_right {
    background-image: url(/images/restaurant/group_tables.jpg); }
  .hero_splash .bottom_left {
    background-image: url(/images/the_singular/rooftop_bar.jpg); }
  .hero_splash .bottom_right {
    background-image: url(/images/crown_and_garter/room_1_straight.jpg); }

.home_main_text {
  position: relative;
  max-width: 63.75rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2rem; }
  .home_main_text::after {
    clear: both;
    content: "";
    display: table; }
  .home_main_text .header_text {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 40.2913699012%;
    padding: 0 30px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
    .home_main_text .header_text:last-child {
      margin-right: 0; }
    .home_main_text .header_text h3 {
      font-weight: normal;
      font-size: 1.4rem; }
  .home_main_text .blurb_text {
    margin: 2rem 0;
    text-align: justify;
    margin-left: 42.6490214991%;
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 57.3509785009%;
    margin-right: 0;
    padding: 0 20px; }
    .home_main_text .blurb_text:last-child {
      margin-right: 0; }

.testimonial_separator {
  background-color: #8446ad;
  text-align: center;
  padding: 20px 0;
  font-size: 1.5em; }
  .testimonial_separator .testimonial_blurb {
    color: white; }
    .testimonial_separator .testimonial_blurb h2, .testimonial_separator .testimonial_blurb h3 {
      margin: 0.5rem; }

.testimonials .testimonial_inner {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 0;
  position: relative; }
  .testimonials .testimonial_inner::after {
    clear: both;
    content: "";
    display: table; }
  .testimonials .testimonial_inner .testimonial_logo {
    margin-left: 59.7086300988%;
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 40.2913699012%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center; }
    .testimonials .testimonial_inner .testimonial_logo:last-child {
      margin-right: 0; }
  .testimonials .testimonial_inner .testimonial_quote {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 57.3509785009%; }
    .testimonials .testimonial_inner .testimonial_quote:last-child {
      margin-right: 0; }
    .testimonials .testimonial_inner .testimonial_quote blockquote {
      font-size: 1.3rem; }
.testimonials .testimonial:nth-child(odd) {
  text-align: right; }
  .testimonials .testimonial:nth-child(odd) .testimonial_logo {
    margin-left: 0%; }
  .testimonials .testimonial:nth-child(odd) .testimonial_quote {
    margin-left: 42.6490214991%; }
.testimonials .testimonial.evian_resort cite {
  color: #9b8ea6; }
.testimonials .testimonial.crown_and_garter {
  background-color: #95d4cb;
  color: #181d21; }
  .testimonials .testimonial.crown_and_garter cite {
    color: #6d6965; }
.testimonials .testimonial.desroches_island cite {
  color: #9b8ea6; }
.testimonials .testimonial.desroches_island img {
  display: block;
  width: 100%; }
