@import url(https://fonts.googleapis.com/css?family=Khula:300);
@import url(https://fonts.googleapis.com/css?family=Raleway:200);
/* IMPORT FONTS */
/* IMPORT BOURBON */
/* IMPORT NEAT */
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* NEAT VARIABLES */
/* IMPORT STORRINGTON STYLESHEETS */
html, body {
  margin: 0;
  font-family: Khula;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #522576; }

body.no_scroll {
  height: 100%;
  overflow: hidden; }

a {
  text-decoration: none; }
  a, a:active, a:hover, a:visited {
    color: inherit; }

h1, h2 {
  font-family: crete-round;
  font-weight: lighter; }

h2 {
  font-size: 2.5rem; }

h3 {
  font-weight: lighter; }

nav {
  position: fixed;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-backdrop-filter: blur(5px);
  -webkit-transition: background-color 0.25s, height 0.5s;
  -moz-transition: background-color 0.25s, height 0.5s;
  transition: background-color 0.25s, height 0.5s;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
  width: 100vw;
  height: 105px;
  padding: 1rem 0; }
  nav.solid {
    background-color: white; }
  nav .navigation_inner {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    height: 70px; }
    nav .navigation_inner::after {
      clear: both;
      content: "";
      display: table; }
  nav .storrington_logo {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 31.7615656014%;
    padding: 0 20px;
    line-height: 70px; }
    nav .storrington_logo:last-child {
      margin-right: 0; }
    nav .storrington_logo img {
      max-height: 100%;
      max-width: 100%;
      position: relative;
      top: 3px;
      vertical-align: middle; }
  nav .navigation_hamburger {
    display: none;
    position: relative;
    top: 25px; }
    nav .navigation_hamburger:hover {
      cursor: pointer; }
    nav .navigation_hamburger .bun {
      float: right;
      clear: right;
      background-color: #522576;
      height: 2px;
      margin: 3px 5px;
      width: 23px;
      -webkit-transition: -webkit-transform 100ms, opacity 100ms, width 100ms;
      -moz-transition: -moz-transform 100ms, opacity 100ms, width 100ms;
      transition: transform 100ms, opacity 100ms, width 100ms;
      transform-origin: 100% 45%; }
    nav .navigation_hamburger.menu_open .bun.top {
      transform: rotate(-45deg); }
    nav .navigation_hamburger.menu_open .bun.mid {
      opacity: 0; }
    nav .navigation_hamburger.menu_open .bun.bottom {
      transform: rotate(45deg); }
  nav .navigation_links {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 65.8807828007%;
    padding: 0 20px;
    line-height: 70px;
    font-size: 1.4rem;
    text-align: right;
    text-transform: uppercase;
    margin: 0; }
    nav .navigation_links:last-child {
      margin-right: 0; }
    @media screen and (max-width: 1024px) {
      nav .navigation_links {
        font-size: 1.1rem; } }
    nav .navigation_links li {
      display: inline-block;
      list-style: none;
      margin: 0 0.6rem;
      vertical-align: middle;
      position: relative;
      padding-top: 0.25em; }
  @media screen and (max-width: 880px)  {
    nav.menu_open {
      height: 100vh; }
    nav .storrington_logo {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 65.8807828007%; }
      nav .storrington_logo:last-child {
        margin-right: 0; }
    nav .navigation_hamburger {
      display: block;
      margin-left: 17.0596085997%;
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 14.7019570017%;
      margin-right: 0;
      padding: 0 20px; }
      nav .navigation_hamburger:last-child {
        margin-right: 0; }
    nav .navigation_links {
      width: 100%;
      font-size: 2rem;
      text-align: left; }
      nav .navigation_links a {
        width: 100%; }
        nav .navigation_links a:hover {
          color: #8446ad;
          border-bottom-color: #8446ad; }
      nav .navigation_links li {
        display: block;
        border-bottom: 1px solid #8446ad; } }

footer {
  background-color: #522576;
  color: white;
  padding: 50px;
  font-size: 1.1rem; }
  footer .inner_footer {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    position: relative; }
    footer .inner_footer::after {
      clear: both;
      content: "";
      display: table; }
  footer .identity_section {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 31.7615656014%; }
    footer .identity_section:last-child {
      margin-right: 0; }
    @media screen and (max-width: 880px)  {
      footer .identity_section {
        position: static;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
        margin-right: 0;
        width: 100%;
        text-align: center; } }
  footer .copyright_container {
    white-space: nowrap; }
    footer .copyright_container .footer_logo {
      height: 25px;
      vertical-align: middle; }
    footer .copyright_container .copyright_notice {
      position: relative;
      top: 0.15em; }
  footer .social_icons {
    padding: 10px 0 0; }
    footer .social_icons img {
      height: 38px;
      vertical-align: middle; }
  footer .sitemap {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 31.7615656014%;
    text-align: center; }
    footer .sitemap:last-child {
      margin-right: 0; }
    @media screen and (max-width: 880px)  {
      footer .sitemap {
        width: 100%;
        margin: 2rem 0; } }
    footer .sitemap ul {
      list-style: none;
      margin: 0;
      padding: 0; }
  footer .contact_information {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 31.7615656014%;
    text-align: right; }
    footer .contact_information:last-child {
      margin-right: 0; }
    @media screen and (max-width: 880px)  {
      footer .contact_information {
        width: 100%;
        text-align: center; } }

.hero_splash {
  width: 100vw;
  height: 100vh; }
  .hero_splash .hero_segment {
    width: 50%;
    height: 50%;
    background-size: cover;
    float: left;
    background-position: 50% 50%; }
  .hero_splash .top_left {
    background-image: url(/images/residence_on_the_rocks/pool_deck.jpg); }
  .hero_splash .top_right {
    background-image: url(/images/restaurant/group_tables.jpg); }
  .hero_splash .bottom_left {
    background-image: url(/images/the_singular/rooftop_bar.jpg); }
  .hero_splash .bottom_right {
    background-image: url(/images/crown_and_garter/room_1_straight.jpg); }

.home_main_text {
  position: relative;
  max-width: 63.75rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2rem; }
  .home_main_text::after {
    clear: both;
    content: "";
    display: table; }
  .home_main_text .header_text {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 40.2913699012%;
    padding: 0 30px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
    .home_main_text .header_text:last-child {
      margin-right: 0; }
    .home_main_text .header_text h3 {
      font-weight: normal;
      font-size: 1.4rem; }
  .home_main_text .blurb_text {
    margin: 2rem 0;
    text-align: justify;
    margin-left: 42.6490214991%;
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 57.3509785009%;
    margin-right: 0;
    padding: 0 20px; }
    .home_main_text .blurb_text:last-child {
      margin-right: 0; }
  @media screen and (max-width: 880px)  {
    .home_main_text .header_text {
      position: static;
      width: 100%;
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-transform: none;
      transform: none; }
      .home_main_text .header_text h2 {
        font-size: 1.8rem;
        margin-bottom: 1rem; }
      .home_main_text .header_text h3 {
        font-size: 1.4rem;
        margin: 1rem 0 0; }
    .home_main_text .blurb_text {
      margin-left: 0%;
      width: 100%;
      padding: 0 30px;
      margin: 0;
      font-size: 1rem; } }

.testimonial_separator {
  background-color: #8446ad;
  text-align: center;
  padding: 20px 0;
  font-size: 1.5rem; }
  .testimonial_separator .testimonial_blurb {
    color: white; }
    .testimonial_separator .testimonial_blurb h2, .testimonial_separator .testimonial_blurb h3 {
      margin: 0.5rem; }
  @media screen and (max-width: 880px)  {
    .testimonial_separator {
      padding: 20px;
      font-size: 1.1rem; }
      .testimonial_separator h2 {
        font-size: 2rem; } }

.testimonials .testimonial_inner {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 0;
  position: relative; }
  .testimonials .testimonial_inner::after {
    clear: both;
    content: "";
    display: table; }
  .testimonials .testimonial_inner .testimonial_logo {
    margin-left: 59.7086300988%;
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 40.2913699012%;
    padding: 0 20px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center; }
    .testimonials .testimonial_inner .testimonial_logo:last-child {
      margin-right: 0; }
    .testimonials .testimonial_inner .testimonial_logo img {
      width: 100%; }
  .testimonials .testimonial_inner .testimonial_quote {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 57.3509785009%; }
    .testimonials .testimonial_inner .testimonial_quote:last-child {
      margin-right: 0; }
    .testimonials .testimonial_inner .testimonial_quote blockquote {
      font-size: 1.3rem; }
.testimonials .testimonial:nth-child(odd) {
  text-align: right; }
  .testimonials .testimonial:nth-child(odd) .testimonial_logo {
    margin-left: 0%; }
  .testimonials .testimonial:nth-child(odd) .testimonial_quote {
    margin-left: 42.6490214991%; }
.testimonials .testimonial.evian_resort cite {
  color: #9b8ea6; }
.testimonials .testimonial.crown_and_garter {
  background-color: #95d4cb;
  color: #181d21; }
  .testimonials .testimonial.crown_and_garter cite {
    color: #6d6965; }
.testimonials .testimonial.desroches_island cite {
  color: #9b8ea6; }
.testimonials .testimonial.desroches_island img {
  display: block;
  width: 100%; }
@media screen and (max-width: 880px)  {
  .testimonials .testimonial, .testimonials .testimonial:nth-child(odd) {
    text-align: center; }
    .testimonials .testimonial .testimonial_quote, .testimonials .testimonial:nth-child(odd) .testimonial_quote {
      width: 100%;
      margin-left: 0%; }
      .testimonials .testimonial .testimonial_quote blockquote, .testimonials .testimonial:nth-child(odd) .testimonial_quote blockquote {
        font-size: 1.1rem; }
    .testimonials .testimonial .testimonial_logo, .testimonials .testimonial:nth-child(odd) .testimonial_logo {
      margin-left: 17.0596085997%;
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 65.8807828007%;
      position: static;
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-transform: none;
      transform: none; }
      .testimonials .testimonial .testimonial_logo:last-child, .testimonials .testimonial:nth-child(odd) .testimonial_logo:last-child {
        margin-right: 0; } }
