.our-approach-main {
  @include outer-container();
  @include pad(0 20px);
  position: relative;
  font-size: 1.2em;
}

.team_section {
  overflow: auto;
  z-index: 5;
}

.team_bio {
  @include transition(max-height 1.5s);

  position: absolute;
  width: calc(100% - 40px);
  z-index: 5;
  max-height: 0;
  overflow: hidden;

  &:before{
    content: "";
    display: block;
    min-height: 139px;
    padding-top: 23.2%;
  }

  div {
    background-color: $brand-primary;
    @include pad(10px 20px);
    color: white;
  }

}

.team_container {
  min-width: 600px;
}

.team_box {
  @include span-columns(3);
  @include transition(opacity 1s);
  position: relative;
  z-index: 10;
  cursor: pointer;

  img {
    width: 100%;
  }

  h4 {
    @include transition(opacity 1s);
    text-align: center;
    margin-top: 0;
  }

  &.hidden {
    opacity: 0.25;
    h4 {
      opacity: 0;
    }
  }

  &.expand {
    h4 {
      opacity: 0;
    }

    &+.team_bio {
      max-height: 2000px;
    }
  }

  &:nth-last-of-type(2) {
    @include omega();
  }
}
